<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../js/lib/jquery-3.3.1.min.js"></script>
    <script src="../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js " /></script>
   
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css"/>   

<style type="text/css">
    .wrapper{
        width: 650px;
        margin: 0 auto;
    }
    
    table tr td:last-child a{
        margin-right: 15px;
    }
</style>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
                <a class="navbar-brand" href="#"><img id="logo-crud" src="img/logo-gris.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                  <ul class="navbar-nav float-right">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Usuarias <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Rutas</a>
                    </li>
                  </ul>
                 
                </div>
                
            </nav>
          <div class="container mt-5"
           <div class="row">
            <div class="col-md-12">
                <div class="clearfix mb-3">
                    <h2 class="float-left">Gestión de solicitudes de acceso</h2>
                    <a href="CRUD/nuevo" class="btn btn-dark float-right">Añadir nueva usuaria</a>
                </div>
                <label class="font-italic" for="kwd_search">Buscar Usuaria:</label> <input type="text" id="kwd_search" placeholder="Escribe nombre, apellidos o email..." class="form-control mb-3"/>
                <table class='table table-striped table-borderless' id="my-table">
                  <thead class="thead-dark">
                      <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Email</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody id="lista-user">

                    <tr >
                    </tr>
                  </tbody>
                </table>
          </div> 
        </div>
      </div>
</body>
</html>