<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../js/lib/jquery-3.3.1.min.js"></script>
    <script src="../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js " /></script>

   
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="../js/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css"/>

<style type="text/css">
    .wrapper{
        width: 500px;
        margin: 0 auto;
    }
</style>

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
                <a class="navbar-brand" href="#"><img id="logo-crud" src="../img/logo-gris.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                  <ul class="navbar-nav float-right">
                    <li class="nav-item active">
                      <a class="nav-link" href="/CRUD">Usuarias <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Rutas</a>
                    </li>
                  </ul>
                 
                </div>
                
            </nav>
            <div class="container mt-5">
                    <div class="row fondo-nuevo">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h2>Nueva usuaria</h2>
                            </div>
                          
                            <form id="formularioCrear" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input id="nombre" type="text" class="form-control" data-validation="custom" data-validation-regexp="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" data-validation-length="min3" name="name">
                                    
                                </div>
                               <div class="form-group">
                                    <label for="phone">Apellidos</label>
                                    <input id="apellidos" type="text" class="form-control" data-validation="custom" data-validation-regexp="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" data-validation-length="min3" name="surname">
                                    
                                </div>
                                <div class="form-group">
                                    <label for="date">Fecha de nacimiento</label>
                                    <input id="fecha" type="date" class="form-control" data-validation="date" name="date">
                                </div>
                                <div class="form-group">
                                    <label for="comment">Intereses</label>
                                    <textarea class="form-control" rows="5" id="intereses" name="interest"></textarea>
                                  </div>
                                <div class="form-group">
                                      <label for="exampleFormControlFile1">Subir Foto</label>
                                      <input type="file" class="form-control-file"  id="foto" name="foto">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="mail" type="text" class="form-control" data-validation="required email" name="email"> 
                                    
                                </div>
                               <!-- <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" data-validation="required alphanumeric"  placeholder="Password">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword1">Repetir Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" data-validation="required alphanumeric" placeholder="Password">
                                  </div>-->
                                
                                
                                <div class="form-group">
                                    <button id="boton-crear" type="submit" class="btn btn-primary btn-lg">Crear Usuaria</button>
                                </div>
                            </form>
                        
                        </div>
                    </div>        
            </div>
    
</body>
</html>